---
import { Image } from 'astro:assets';
import Container from './Container.astro';

const {
  logo = '/assets/brands/OSWWhite.svg',
  logoAlt = 'OSW Logo',
  links = [
    { href: 'events', label: 'Events' },
    { href: 'jobs', label: 'Jobs' },
  ],
  contact = {
    location: 'Ahmedabad, Gujarat',
    phone1: { href: 'tel:+918980808222', label: '+91 89 8080 8222' },
    phone2: { href: 'tel:+918401339936', label: '+91 84 0133 9936' },
    email: {
      href: 'mailto:opensourceweekend@gmail.com',
      label: 'opensourceweekend@gmail.com',
    },
  },
  newsletter = {
    title: 'Newsletter',
    description:
      'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eius.',
    placeholder: 'Your email',
    buttonLabel: 'Subscribe',
  },
  socials = [
    {
      href: 'https://github.com/oscfcommunity',
      label: 'GitHub',
      icon: `<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 24 24" fill="currentColor"><path d="M12 2C6.477 2 2 6.484 2 12.012c0 4.418 2.865 8.166 6.839 9.489.5.092.682-.217.682-.483 0-.237-.009-.868-.013-1.703-2.782.605-3.369-1.342-3.369-1.342-.454-1.155-1.11-1.463-1.11-1.463-.908-.62.069-.608.069-.608 1.004.07 1.532 1.032 1.532 1.032.892 1.53 2.341 1.088 2.91.832.091-.646.35-1.088.636-1.339-2.221-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.025A9.564 9.564 0 0 1 12 6.844c.85.004 1.705.115 2.504.337 1.909-1.295 2.748-1.025 2.748-1.025.546 1.378.202 2.397.099 2.65.64.7 1.028 1.595 1.028 2.688 0 3.847-2.337 4.695-4.566 4.944.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.749 0 .268.18.579.688.481C19.138 20.175 22 16.427 22 12.012 22 6.484 17.523 2 12 2Z"/></svg>`,
    },
    {
      href: 'https://www.linkedin.com/company/open-source-weekend',
      label: 'LinkedIn',
      icon: `<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 24 24" fill="currentColor"><path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.761 0 5-2.239 5-5v-14c0-2.761-2.239-5-5-5zm-11 19h-3v-10h3v10zm-1.5-11.268c-.966 0-1.75-.784-1.75-1.75s.784-1.75 1.75-1.75 1.75.784 1.75 1.75-.784 1.75-1.75 1.75zm13.5 11.268h-3v-5.604c0-1.337-.026-3.063-1.868-3.063-1.868 0-2.156 1.459-2.156 2.967v5.7h-3v-10h2.881v1.367h.041c.401-.761 1.379-1.563 2.838-1.563 3.036 0 3.6 2.001 3.6 4.601v5.595z"/></svg>`,
    },
    {
      href: 'https://www.facebook.com/OSWeekend',
      label: 'Facebook',
      icon: `<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 24 24" fill="currentColor"><path d="M22.675 0h-21.35c-.733 0-1.325.592-1.325 1.326v21.348c0 .733.592 1.326 1.325 1.326h11.495v-9.294h-3.128v-3.622h3.128v-2.672c0-3.1 1.893-4.788 4.659-4.788 1.325 0 2.463.099 2.797.143v3.24l-1.918.001c-1.504 0-1.797.715-1.797 1.763v2.312h3.587l-.467 3.622h-3.12v9.294h6.104c.733 0 1.325-.593 1.325-1.326v-21.349c0-.734-.592-1.326-1.325-1.326z"/></svg>`,
    },
    {
      href: 'https://instagram.com/OSWeekend',
      label: 'Instagram',
      icon: `<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path d="M7 2C4.23858 2 2 4.23858 2 7V17C2 19.7614 4.23858 22 7 22H17C19.7614 22 22 19.7614 22 17V7C22 4.23858 19.7614 2 17 2H7Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path><circle cx="12" cy="12" r="3.5" stroke-width="2"></circle><circle cx="17.5" cy="6.5" r="1" fill="currentColor"></circle></svg>`,
    },
    {
      href: 'https://x.com/OSWeekend',
      label: 'X',
      icon: `<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 24 24" fill="currentColor"><path d="M17.53 3.5h3.97l-8.56 9.77 10.09 12.23h-7.98l-6.36-7.71-7.29 7.71h-3.99l9.18-10.87-9.99-11.13h8.09l5.65 6.85 6.03-6.85zm-2.13 17.13h2.22l-6.07-7.36-2.22 2.51 6.07 7.36z"/></svg>`,
    },
    {
      href: 'https://twitter.com/OSWeekend',
      label: 'Twitter',
      icon: `<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path d="M22 5.924c-.793.352-1.646.59-2.543.697a4.48 4.48 0 0 0 1.964-2.47 8.94 8.94 0 0 1-2.828 1.082A4.48 4.48 0 0 0 11.5 9.5c0 .352.04.696.116 1.025A12.74 12.74 0 0 1 3.1 4.9a4.48 4.48 0 0 0 1.39 5.98A4.47 4.47 0 0 1 2.8 10.1v.056a4.48 4.48 0 0 0 3.6 4.39c-.396.108-.813.166-1.243.166-.304 0-.6-.03-.89-.085a4.48 4.48 0 0 0 4.18 3.11A8.98 8.98 0 0 1 2 19.54a12.7 12.7 0 0 0 6.88 2.02c8.26 0 12.78-6.84 12.78-12.78 0-.195-.004-.39-.013-.583A9.13 9.13 0 0 0 24 4.59a8.98 8.98 0 0 1-2.6.71Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg>`,
    },
  ],
  ticket = { href: '/tickets', label: 'Buy Ticket' },
  copyright = '&copy; OSW - OPEN SOURCE WEEKEND | 2025',
} = Astro.props;
---

<footer
  class="footer sm:footer-horizontal bg-primary text-primary-content px-0 py-4"
>
  <Container fluid>
    <div class="w-full flex flex-col gap-8">
      <div
        class="flex flex-col md:flex-row md:justify-between md:items-stretch gap-8"
      >
        {/* Logo */}
        <div class="flex items-center justify-center gap-2 md:w-1/3 max-h-44">
          <Image
            src={logo}
            alt={logoAlt}
            class="object-cover"
            width="200"
            height="200"
          />
        </div>
        {/* Contact info */}
        <nav class="flex flex-col items-start gap-2 md:w-1/6">
          <span class="footer-title">Contact info</span>
          <span>{contact.location}</span>
          <a href={contact.phone1.href} class="link link-hover"
            >{contact.phone1.label}</a
          >
          <a href={contact.phone2.href} class="link link-hover"
            >{contact.phone2.label}</a
          >
          <a href={contact.email.href} class="link link-hover"
            >{contact.email.label}</a
          >
        </nav>
        {/* Useful links */}
        <nav class="flex flex-col gap-2 md:w-1/6">
          <span class="footer-title">Useful links</span>
          {
            links.map((link: { href: string; label: string }) => (
              <a href={link.href} class="link link-hover">
                {link.label}
              </a>
            ))
          }
        </nav>

        {/* Newsletter */}
        {
          /* <form class="flex flex-col gap-2 md:w-1/3" aria-label="Newsletter">
          <span class="footer-title">{newsletter.title}</span>
          <span class="text-xs max-w-4/5">{newsletter.description}</span>
          <label class="input input-bordered flex items-center gap-2 mt-2">
            <input
              type="email"
              placeholder={newsletter.placeholder}
              class="grow bg-transparent text-base-content"
              aria-label={newsletter.placeholder}
            />
            <button
              type="submit"
              class="btn btn-neutral btn-sm"
              aria-label={newsletter.buttonLabel}
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-4 w-4"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                ><path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M17 8l4 4m0 0l-4 4m4-4H3"></path></svg
              >
            </button>
          </label>
        </form> */
        }
      </div>
      {/* Bottom row */}
      <div class="border-t pt-4">
        <Container
          className="flex flex-col md:flex-row md:justify-between md:items-center gap-4 pb-0"
        >
          <div class="text-sm font-semibold opacity-80 flex items-center gap-2">
            <span>Crafted with</span>
            <span class="text-red-400">❤️</span>
            <span>by contributors of</span>
            <a
              href="https://github.com/oscfcommunity"
              class="link link-hover font-bold underline ml-1"
              target="_blank"
              rel="noopener"
            >
              Open Source Weekend (OSCF)
            </a>
          </div>
          <div class="flex gap-5">
            {
              socials.map(
                (social: { href: string; label: string; icon: string }) => (
                  <a
                    href={social.href}
                    aria-label={social.label}
                    class="btn btn-ghost btn-xs px-3 aspect-square"
                    set:html={social.icon}
                  />
                )
              )
            }
          </div>
        </Container>
      </div>
    </div>
  </Container>
</footer>
